@charset "UTF-8"
@font-face{font-family:'Roboto-Light';src:url(../fonts/Roboto-Light.eot);src:local("../fonts/Roboto Light"),local(../fonts/Roboto-Light),url(../fonts/Roboto-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Light.woff) format("woff"),url(../fonts/Roboto-Light.ttf) format("truetype");font-weight:300;font-style:normal}
@font-face{font-family:'Roboto';src:url(../fonts/Roboto-Regular.eot);src:local(../fonts/Roboto),local(../fonts/Roboto-Regular),url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Regular.woff) format("woff"),url(../fonts/Roboto-Regular.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Roboto-Medium';src:url(../fonts/Roboto-Medium.eot);src:local("../fonts/Roboto Medium"),local(../fonts/Roboto-Medium),url(../fonts/Roboto-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Medium.woff) format("woff"),url(../fonts/Roboto-Medium.ttf) format("truetype");font-weight:500;font-style:normal}
@font-face{font-family:'Roboto-Bold';src:url(../fonts/Roboto-Bold.eot);src:local("../fonts/Roboto Bold"),local(../fonts/Roboto-Bold),url(../fonts/Roboto-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Bold.woff) format("woff"),url(../fonts/Roboto-Bold.ttf) format("truetype");font-weight:700;font-style:normal}
@font-face{font-family:'Roboto-Black';src:url(../fonts/Roboto-Black.eot);src:local("../fonts/Roboto Black"),local(../fonts/Roboto-Black),url(../fonts/Roboto-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/Roboto-Black.woff) format("woff"),url(../fonts/Roboto-Black.ttf) format("truetype");font-weight:900;font-style:normal}
.overlay{position:fixed;display:none;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);z-index:160}
.overlay .popup{position:fixed;left:50%;top:100px;width:752px;-webkit-transform:translateX(-50%);transform:translateX(-50%);color:#FFF}
.overlay .popup-title{min-height:71px;text-align:center;text-transform:uppercase;font-size:21px;line-height:71px;font-family:'Roboto-Medium';background-color:#ff9d00}
.overlay .popup-close{position:absolute;top:-30px;right:-20px;font-size:35px;font-family:'Roboto-Light';cursor:pointer}
.overlay .popup-form{background:url(../img/overlay/overlay-bg.jpg) center no-repeat;background-size:cover;padding:39px 88px 49px;text-align:center}
.overlay .popup-form__title{margin-bottom:23px;font-size:30px;line-height:27px;font-family:'Roboto'}
.overlay .popup-form__title span{font-size:24px}
.overlay .popup-form__label{display:block;margin-bottom:17px}
.overlay .popup-form__input{width:365px;height:56px;margin-right:16px;padding:20px;font-size:14px;border-radius:5px;border:none}
.overlay .popup-form__btn{width:180px;height:56px}
.overlay .popup-form__note{margin-top:9px}
.modal-window{position:fixed;display:none;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);z-index:160}
.modal-window .popup2{position:fixed;left:50%;top:100px;width:40%;height:55%;max-height:250px;-webkit-transform:translateX(-50%);transform:translateX(-50%);color:#FFF;background-color:#333}
.modal-window .popup2-title{min-height:71px;text-align:center;text-transform:uppercase;font-size:21px;line-height:71px;font-family:'Roboto-Medium';background-color:#ff9d00}
.modal-window .popup2-close{position:absolute;top:-30px;right:-20px;font-size:35px;font-family:'Roboto-Light';cursor:pointer}
.modal-window .popup2-text{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;color:#ff9d00;text-align:center;font-size:28px}
.features{padding-top:50px;padding-bottom:55px;background-color:#f4f4f4}
.features-numbers{margin-bottom:37px}
.features-numbers-block{display:inline-block;width:33%;text-align:center;vertical-align:top}
.features-numbers-block__title{margin:0;margin-bottom:8px;font-family:'Roboto-Black';color:#ff9d00;font-size:36px;font-weight:400}
.features-numbers-block__title sup{font-size:22px}
.features-numbers-block__text{font-size:16px;font-weight:400;color:#373737}
.features-blocks{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap}
.features-block{margin-bottom:30px;padding:30px 0;-ms-flex-preferred-size:31%;flex-basis:31%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#FFF}
.features-block__img{width:80px;padding:0 12px}
.features-block-text__title{margin-bottom:10px;font-family:'Roboto-Bold';font-size:15px}
.features-block-text__descr{font-size:14px;width:252px;font-weight:300}
.second-title{margin-bottom:27px}
.second-title::after{margin-top:12px;content:'';background:url(../img/products/img.png) center no-repeat;display:block;height:6px}
.products{padding-top:57px;padding-bottom:38px}
.product-block{text-align:center}
.product-block__img{margin-bottom:19px}
.product-block__text{margin-bottom:28px;color:#313131;font-family:'Roboto-Medium';font-size:20px;line-height:19.99px}
.product-block__buttons{margin-bottom:35px}
.offer{padding-top:64px;padding-bottom:69px;background:grey url(../img/offer/offer-bg.jpg) center no-repeat;background-size:cover;color:#fff;text-align:center}
.offer-title{margin-bottom:32px;font-size:32px;font-weight:400}
.offer-title_small{display:block;font-size:26px}
.offer-form__label{margin-bottom:17px;display:block;font-size:20px;font-weight:300}
.offer-form__input{margin:0 auto 12px;padding:20px 0;display:block;width:365px;font-size:14px;font-weight:300;text-align:center}
.offer-form__btn{margin-bottom:9px;padding-top:18px;padding-bottom:18px;font-size:15px;font-weight:500}
.offer-form__small{display:block;font-size:14px;font-weight:300}
.production{padding-top:87px;padding-bottom:95px}
.production-slider_top{margin-bottom:13px;height:377px;overflow-y:hidden}
.production-slider_bottom{padding:0 26px;height:78px;overflow-y:hidden}
.production-slider_bottom img{position:relative;padding:0 4px}
.production-slider_bottom-item{position:relative;outline:none;cursor:pointer}
.production-slider_bottom-item::before{margin-left:4px;content:'';display:block;position:absolute;top:0;left:0;width:95%;height:100%;background-color:rgba(0,0,0,0.6);z-index:10}
.production-text{margin-right:58px}
.production-text__title{margin:19px 0 28px -30px;padding:18px 0 18px 30px;font-size:28px;font-weight:400;line-height:22px;color:#FFF;background-color:#ff9d00}
.production-text__descr{color:#373737;font-size:16px;font-weight:300;line-height:24px;text-align:justify}
.slick-current div::before{content:none}
.customers-blocks{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;text-align:center}
.customers-block{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:33px;margin-right:30px;-ms-flex-preferred-size:22%;flex-basis:22%;height:130px;border:1px solid rgba(0,0,0,0.1);border-radius:4px}
.customers-block__img{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.customers-block__img:hover{-webkit-filter:none;filter:none;-webkit-transition:all .2s ease;transition:all .2s ease}
.customers-block:nth-child(4){margin-right:0}
.customers-block:nth-child(8){margin-right:0}
.customers-block:nth-child(12){margin-right:0}
.feedback{padding-top:55px;padding-bottom:66px;background-color:#f4f4f4}
.feedback .second-title{margin-bottom:48px}
.feedback-slider{margin:0 auto;padding:0 55px;width:900px}
.feedback-slider__item img{border:1px solid rgba(0,0,0,0.1);border-radius:3px}
.contacts{position:relative}
.contacts-wrap{position:relative}
.contacts-content{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;top:73px;padding:33px 34px 39px 40px;background-color:#FFF;z-index:12}
.contacts-icon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-right:12px}
.contacts-icon img:first-child{margin-bottom:121px;width:17px;height:25px}
.contacts-icon img:nth-child(2){margin-bottom:132px;width:15px;height:22px}
.contacts-icon img:nth-child(3){width:20px;height:14px}
.contacts-blocks{color:#373737}
.contacts-blocks-title{display:none}
.contacts-block__title{margin-bottom:7px;font-size:18px;font-weight:500}
.contacts-block__text{display:block;font-size:16px;font-weight:300}
.contacts-block__text a{text-decoration:none;color:#373737}
.contacts-block_btn{margin-top:14px;margin-bottom:25px;color:#FFF}
.contacts-block:nth-child(2){margin-bottom:13px}
.contacts-block:nth-child(3){margin-bottom:31px}
.map{width:100%;height:550px}
.footer{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:88px;background-color:#1b1b1b}
.footer-text{opacity:.5;color:#fff;font-size:13px;font-weight:300}
@media (min-width: 320px) and (max-width: 576px) {
.hidden-mobile{display:none}
.header{background-color:#FFF;margin-top:0}
.header-logo{background:#ff9d00 url(../img/header/header-logo_mobile.png) center no-repeat;width:36px;height:36px}
.header-contacts__phone{font-size:14px;line-height:17px}
.header-contacts__phone span{font-weight:900}
.header-contacts__phone:first-child{border:none}
.header-contacts__phones{display:block}
.header-contacts__btn{padding:6px}
.main{padding-top:29px;padding-bottom:30px}
.main-text{text-align:center}
.main-text__title{margin-bottom:10px;font-size:22px;font-weight:700;color:#ff9d00;line-height:24px}
.main-text__subtitle{font-size:18px;margin-bottom:40px}
.main-text__form{padding:10px;background-color:transparent}
.main-text .form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.main-text .form-title{padding-right:0;font-size:15px;font-family:'Roboto-Light';line-height:18px}
.main-text .form-title__important{margin-top:10px}
.main-text .form-input{display:block;margin:0;padding:15px 50px;margin-bottom:13px;font-size:13px;font-weight:300;text-align:center;width:70%}
.main-text .form-small{padding-left:0}
.overlay .popup{top:50px;width:80%}
.overlay .popup-title{min-height:41px;font-size:16px;line-height:41px}
.overlay .popup-form{padding:30px 10px}
.overlay .popup-form__title{font-size:18px;margin-bottom:15px}
.overlay .popup-form__title span{font-size:16px;font-weight:300}
.overlay .popup-form__label{margin-bottom:12px;font-size:14px}
.overlay .popup-form__input{margin:0 0 10px;width:97%;margin-bottom:12px;text-align:center;font-size:16px}
}
@media (min-width: 577px) and (max-width: 768px) {
.hidden-mobile{display:none}
.header{margin-top:0}
.header-logo{background:#ff9d00 url(../img/header/header-logo_mobile.png) center no-repeat;width:56px;height:56px}
.header-contacts__phone{font-size:18px;line-height:17px}
.header-contacts__phone span{font-weight:900}
.header-contacts__phone:first-child{border:none;margin-bottom:3px}
.header-contacts__phones{display:block}
.header-contacts__btn{vertical-align:middle}
.header-contacts__btn img{width:15px;height:15px}
.main-img{display:none}
.main-img::before{display:none}
.main-img::after{display:none}
.main-text{text-align:center}
.main-text__title{margin-bottom:10px;font-size:38px;color:#ff9d00}
.main-text__title__subtitle{font-size:26px}
.main-text__form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.main-text .form-title{padding-right:0;text-align:center}
.main-text .form-input{text-align:center;padding:0 70px}
.main-text .form-small{padding-left:0}
.button_big{padding:0;width:150px;line-height:56px}
.overlay .popup{top:60px;width:80%}
.overlay .popup-title{min-height:51px;line-height:51px}
.overlay .popup-form{padding:20px 10px}
.overlay .popup-form__title{margin-bottom:15px}
.overlay .popup-form__label{margin-bottom:12px}
.overlay .popup-form__input{width:250px;margin-bottom:12px}
}
@media (min-width: 769px) and (max-width: 992px) {
.header{margin-top:0}
.header-contacts__phone{padding-bottom:2px;font-size:16px;line-height:17px}
.header-contacts__phone span{font-weight:900}
.header-contacts__phone:first-child{border:none}
.header-contacts__phones{display:block}
.main-img{display:none}
.main-text{text-align:center}
.main-text__title{margin-top:10px;color:#ff9d00}
.main-text__form{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.main-text .form-title{padding-right:0;text-align:center}
.main-text .form-input{text-align:center;width:320px}
.overlay .popup{top:64px;width:80%}
.overlay .popup-form{padding-top:49px}
.overlay .popup-form__title{margin-bottom:18px}
.overlay .popup-form__label{margin-bottom:14px}
.overlay .popup-form__input{width:300px;margin-bottom:15px}
}
@media (max-width: 1200px) {
.header-menu ul li{padding-right:16px;padding-left:10px}
.header-menu ul li:last-child{padding-right:0;padding-left:10px}
}
@media (max-width: 992px) {
.header-menu ul li{padding-right:7px;padding-left:2px}
.header-menu ul li:last-child{padding-left:0}
.header-menu ul li a{font-size:10px}
}
@media (max-width: 768px) {
.header-nav{padding-top:15px}
.header-logo{margin-left:70px}
.header-menu{margin:0;padding:0;position:fixed;background-color:#ff9d00;width:100vw;height:100vh;z-index:12;-webkit-transition:all .4s;transition:all .4s;left:-100vw;opacity:.97}
.header-menu_active{left:0}
.header-menu ul{margin:0 auto;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100%;height:100vh;line-height:3}
.header-menu ul li{border:none}
.header-menu ul li a{font-size:14px}
.header-menu__link{display:block;width:50px;height:50px;position:fixed;top:18px;left:56px;border-radius:50%;background-color:#FFF;z-index:200}
.header-menu__link span{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);display:block;height:4px;width:24px;background-color:#373737}
.header-menu__link span:before,.header-menu__link span:after{-webkit-transition:all .2s;transition:all .2s;position:absolute;top:50%;left:50%;margin-top:-2px;margin-left:-12px;display:block;height:4px;width:24px;background-color:#373737;content:''}
.header-menu__link span:before{margin-top:-10px}
.header-menu__link span:after{margin-top:6px}
.header-menu__link_active span{background-color:transparent}
.header-menu__link_active span:before{margin-top:0;-webkit-transform:rotate(135deg);transform:rotate(135deg)}
.header-menu__link_active span:after{margin-top:0;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
}
@media (max-width: 576px) {
.header-logo{margin-left:51px;border-radius:3px}
.header-menu__link{top:8px;left:15px}
}
@media (max-width: 1200px) {
.features{padding-top:24px}
.features-block{margin-left:auto;margin-right:auto;-ms-flex-preferred-size:38%;flex-basis:38%}
.contacts-content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;top:0;left:0;padding:36px 0 28px;text-align:center;width:100%}
.contacts-icon{display:none}
.contacts-blocks-title{margin-bottom:19px;display:block;font-size:22px;font-weight:700;line-height:24px;text-transform:uppercase}
.contacts-block__text a{display:block}
}
@media (max-width: 992px) {
.second-title{margin-bottom:18px}
.second-title::after{display:none}
.features-numbers-block{width:32%}
.features-numbers-block__title{font-size:28px}
.features-numbers-block__title sup{font-size:14px}
.features-numbers-block__text{font-size:14px}
.features-block{-ms-flex-preferred-size:49%;flex-basis:49%}
.customers-block{margin-bottom:23px;margin-right:15px;-ms-flex-preferred-size:25%;flex-basis:25%}
.customers-block__img{-webkit-filter:none;filter:none}
.customers-block__img:hover{pointer-events:none}
.offer{padding-top:50px}
.offer-title{margin-bottom:30px;font-size:20px;font-weight:700}
.offer-title_small{margin-top:8px;font-size:16px;font-weight:400}
.offer-form__input{min-width:290px;width:290px}
.product-block__text{height:40px}
.map{margin:0 auto 15px;width:95%}
.modal-window .popup2{height:60%}
}
@media (max-width: 766px) {
.modal-window .popup2{max-height:280px}
.features-numbers-block__title{font-size:22px}
.features-numbers-block__title sup{font-size:14px}
.features-block{margin-bottom:8px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-preferred-size:100%;flex-basis:100%}
.customers-block{margin-bottom:35px;margin-right:10px;-ms-flex-preferred-size:45%;flex-basis:45%}
}
@media (max-width: 576px) {
.modal-window .popup2{width:78%;max-height:341px}
.features{padding-bottom:40px}
.features-numbers-block{margin-bottom:24px;padding:0 20px;display:block;text-align:center;width:100%}
.features-numbers-block__title{margin-bottom:10px;font-size:30px}
.features-numbers-block__title sup{font-size:18px}
.features-numbers-block__text{font-family:'Roboto';font-size:14px}
.features-block{padding:15px 0;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;text-align:center}
.features-block__img{padding-left:0}
.features-block-text{font-size:14px;text-align:left}
.features-block-text__descr{font-size:14px;width:202px}
.products{padding-top:32px}
.customers-block{margin:0;margin-bottom:20px;-ms-flex-preferred-size:49%;flex-basis:49%}
.footer-text{font-size:11px}
.product-block__text{height:20px;font-size:18px}
.second-title{font-size:22px}
.contacts-block__text{font-size:14px}
.map{height:420px}
.offer{padding-bottom:35px}
.offer-form__label{font-size:14px}
.offer-form__input{padding:14px 0}
}
@media (max-width: 992px) {
.production{padding-top:28px;padding-bottom:50px}
.production-text{margin:0;text-align:center}
.production-text__title{margin:0 -15px;padding-right:30px;font-size:20px;font-weight:700;line-height:18px;text-transform:uppercase}
.production-text__descr{font-size:14px;line-height:18pх}
.feedback-slider{padding:0 10px;width:274px}
.slider-feedback-arrow{top:50%;margin-top:-39px;height:78px;width:22px}
.slider-feedback-arrow_left{background:#ff9d00 url(../img/arrow-left_active.png) center no-repeat}
.slider-feedback-arrow_right{background:#ff9d00 url(../img/arrow-right_active.png) center no-repeat}
}
@media (max-width: 768px) {
.production-slider_bottom{display:none}
.production .slider-arrow{top:50%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%)}
.production .slider-arrow_left{background:#ff9d00 url(../img/arrow-left_active.png) center no-repeat}
.production .slider-arrow_right{background:#ff9d00 url(../img/arrow-right_active.png) center no-repeat}
}
@media (max-width: 576px) {
.production{padding-bottom:38px}
.production-slider_top img{min-height:290px;height:380px}
.production-text__descr p{text-align-last:center}
}
@media (min-width: 992px) {
.button:hover{opacity:.8}
.button-o:hover{background-color:#ff9d00;color:#FFF;opacity:1}
.button_big:hover,.offer-form__btn:hover{opacity:1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8)}
.features-block:hover{background-color:grey;color:#FFF}
.header-menu a:hover{opacity:.3}
}